body {
      margin: 0;
      background-color: #d9fff8;
}

header {
      background-color: #ec5c3c;
      margin: none;
      padding: 0 0 20px 0;
}

header > h1 {
  margin: 0 0 40px 0;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-family: lato;
  font-size: 36px;
}

header > ul {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
 }

 header > ul > li {
   display: inline;
   margin: 0 5px;
   color: #ffffff;
}

header > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    font-family: lato;
}

main {
  padding: 20px 80px 140px 100px;
}

#about-me {
  margin: 0 0 60px 0;
  background-image:
}

#about-me > h3 {
  margin: 0 0 40px 0;
}

#about-me > div {
  display: inline-block;
  width: 30%;
}

#about-me > div > img {
  margin-left: 70%;
  width: 90%;
}

 .description {
  float: right;
  width: 40px;
  font-family: lato;
  font-weight: 250;
  font-size: 12px;
  margin: 8% 20% 0 0;
}

#projects {
  margin: 20px 0;
  border-bottom: groove;
  border-top: groove;
  border-width: thin;
  border-color: #edd9c6;
  padding: 10px 0;

}

#projects > h3 {
  margin: 0 0 40px 0;
  font-family: lato;
  font-weight: 300;
  font-size: 18px;
  padding-top: 10px;
}

#projects > div {
  margin: 0 15px;
}

#projects > div > div {
  text-align: center;
  display: inline-block;
  font-family: lato;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 0 0 40px;
}

#projects > div > div > img {
  margin: 0 0 40px 0;
  width: 300px;
  float: right;
}

#goals {
  font-family: lato;
  margin: none;
  display: inline-block;
}


#goals > div {
  display: inline-block;
  float: right;
  margin-left: 40px;
}

#goals > h3 {
  font-weight: 200;
  margin-top: 5px;
}

#goals > div > img {
  width: 300px;
  display: inline-block;
  margin: 10px 20px 0 200px;
}

#paragraph {
  width: 250px;
  font-family: lato;
  font-weight: 250;
  font-size: 12px;
  display: inline-block;
}

section > h3 {
  margin: 20px 0 10px 0;
}

section > h4 {
  margin: 0 0 20px 0;
}

#education {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  font-family: lato;
}

#education > div {
  display: inline-block;
  margin: 0 10px 0 10px;
}

#education > div > div {
  text-align: center;
  display: inline-block;
  width: 300px;
  margin: 0 10px;
  font-family: lato;
  margin-left: 40px;
}

#education > h3 {
    font-weight: 300;
}

#edcuation > div > div > h5 {
  text-align: left;
  font-weight: 200;
}

#education > div > div > ul {
  font-size: 12px;
  list-style: none;
  padding: 0 0 0 0;
}

#education > div > div > img {
  width: 50px;
}

#codetrotters {
  float:right;
}

#advance-studies {
  float: right;
}

#uprh {
  float: right;
}

#work > h3 {
  font-weight: 300;
  font-family: lato;
}

#work > div {
  text-align: center;
  display: inline-block;
  font-family: lato;
  margin: 0 10px 0 10px ;
}

#work > div > div {
  width: 250px;
  display: inline-block;
  padding: 20px 0 0 10px;
}

#work >div > div > img {
  margin: 0 10px 0 0;
  width: 50px;
}

#youthspeak {
  float: right;
}

#chamber-commerce {
  float: right;
}

#ccepr {
  float: right;
}

#work > div > div > ul {
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 0;
}

main > section > h1 {
    font-family: lato;
    font-weight: 200;
}

main > section > p {
    font-family: lato;
    font-weight: 200;
    font-size: 12px;
}

footer > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    font-family: lato;
}

footer > ul {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
 }

 footer > ul > li {
   display: inline;
   margin: 0 10px;
   color: #ffffff;
}

footer {
      background-color: #ec5c3c;

}
